@import '../components/variables';
@import '../mixin';

.header {
    background: $headerBackground;
    padding: 5px 0;

    &-container {
        max-width: $mainMaxWidht-1140;
        margin: 0 auto;
        width: 100%;
        .header-nav {
            display: flex;
            justify-content: space-between;
            .header-list {
                @include flex(58px, '');
            }

            .header-auth {
                @include flex(10px, '');
                img {
                    width: 16px;
                    height: 34px;
                }
            }
        }
    }
}

// Active-Color
.active {
    color: $activeTextColor !important;
    transition: 0.6s;
}

a {
    color: $navItemTextColor;
    font-size: 0.938rem;
    transition: 250ms;
}

a:hover {
    color: $activeElement;
}