@import '../mixin';
@import './variables';


.product-nav {
    .productNav-container {
        max-width: $mainMaxWidht-1140;
        width: 100%;
        margin: 0 auto;

        .product-nav-block {
            // @include flex(_, space-between);

            li {
                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 15px;
                }
            }
        }
    }
}
