// Text color
$mainTextColor: #1d1d1f;
$secondTextColor: #828282;
$activeTextColor: #5e8bce;
$navItemTextColor: #bbbbbb;
$inputPlaceholderTextColor: #c0c0c0c0;

// Background-color 
$activeElement: #5e8bce;
$headerBackground: #2e2e2e;
$navBackground: #f1f1f1;
$productBackground: #f5f5f7;

// Width & height
$mainMaxWidht-1200: 1200px;
$mainMaxWidht-1140: 1140px;
$mainMaxWidht-992: 992px;
$mainMaxWidht-720: 720px;
$mainMaxWidht-576: 576px;
